# Composer
/vendor/
composer.phar
composer.lock

# PHPUnit
.phpunit.result.cache

# Node.js
node_modules/

# Playwright
test-results/
playwright-report/

# IDE
.idea/
qodana.yaml

# User uploads
public/uploads/

# OS
.DS_Store
Thumbs.db

#test copde
info.php